<div class="padding-global padding-section-small"><div class="container-large disclaimer-container"><div class="footer_main-wrapper"><div class="footer_link-grid">{% for link in linklists[section.settings.footer_menu].links %}    <div li-for="link in linklists[section.settings.footer_menu].links" class="footer_link-column">
                                    
                            <div li-for:inside="child_link in link.links" class="footer_link-list">
        {% for child_link in link.links %}                            
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="footer_link">{{ child_link.title }}</a>
                            
                    {% endfor %}    </div>

                            
                        </div>
{% endfor %}</div><div id="w-node-_5eccf730-c887-5204-0e0c-693f99a7329a-99a7328f" class="footer_newsletter"><h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
<div class="footer_form-block w-form">{% form 'customer', return_to: '/', class: 'footer_form' %}
<div class="form_field-wrapper"><label for="email-2" class="form_hidden-label">Your E-Mail-Address</label><input class="form_input w-input" maxlength="256" name="contact[email]" data-name="Email 2" placeholder="{{ section.settings.placeholder_text }}" type="email" id="email-2" required="">
</div><div li-object="form.errors | default_errors" class="text-size-tiny text-color-red">{{ form.errors | default_errors }}</div><div id="w-node-_5eccf730-c887-5204-0e0c-693f99a732a5-99a7328f" class="hide w-embed"><input type="hidden" name="contact[accepts_marketing]" value="false">
</div><label id="w-node-_5eccf730-c887-5204-0e0c-693f99a732a6-99a7328f" class="w-checkbox form_checkbox" name="contact[accepts_marketing]"><input type="checkbox" name="Accepts-Marketing-2" id="Accepts-Marketing-2" data-name="Accepts Marketing 2" class="w-checkbox-input form_checkbox-icon">
<span class="form_checkbox-label text-size-tiny w-form-label" for="Accepts-Marketing-2">
{{ section.settings.text_checkbox }}
</span>
</label><input type="submit" data-wait="" id="w-node-_5eccf730-c887-5204-0e0c-693f99a732ae-99a7328f" class="button w-button" value="Subscribe to Newsletter">
{% endform %}
<div class="hide w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="hide w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div></div></div><div class="footer_divider"></div><div class="padding-global padding-section-small"><div class="container-large disclaimer-container"><p class="disclaimer_copy">
{{ section.settings.text_website_disclaimer }}
</p>
</div></div><div class="footer_divider"></div><div class="padding-global padding-section-small"><div class="container-large"><div class="footer_sub-footer"><a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="footer_logo-link w-inline-block"><img src="{{ section.settings.image_footer_logo | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_footer_logo.alt }}" class="footer_logo">
</a><div li-for:inside="link in linklists['footer'].links" id="w-node-_5eccf730-c887-5204-0e0c-693f99a732d3-99a7328f" class="footer_legal-links">
        {% for link in linklists['footer'].links %}                            
                            <a li-object="link.title" li-object:href="link.url" href="{{ link.url }}" class="footer_legal-link">{{ link.title }}</a>
                            
                    {% endfor %}    </div>
</div></div></div> {% schema %} {"tag":"footer","name":"footer","class":"section_footer","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Signup for Newsletter"},{"id":"text_checkbox","type":"text","label":"Checkbox","default":"By subscribing you agree to with our <a href=\"#\"><span>Privacy Policy<\/span><\/a> and provide consent to receive updates from our company."},{"id":"text_website_disclaimer","type":"text","label":"Website_Disclaimer","default":"Hippie Water PRODUCTS Are not AVAILABLE FOR SHIPPING IN ALABAMA, Alaska, Arkansas, California, Delaware, Idaho, Iowa, Mississippi, Montana, Nebraska, Nevada, New jersey, Tennessee, and Utah. KEEP OUT OF REACH OF CHILDREN. FDA HAS NOT EVALUATED THIS PRODUCT FOR SAFETY OR EFFICACY. NOT INTENDED FOR SALE TO PERSONS UNDER THE AGE OF 21. CONSULT YOUR PHYSICIAN BEFORE USE IF YOU ARE PREGNANT, NURSING, HAVE ANY KNOWN OR SUSPECTED ALLERGIES OR MEDICAL CONDITIONS, OR ARE TAKING ANY MEDICATION. THIS PRODUCT IMPAIRS YOUR ABILITY TO DRIVE A VEHICLE OR OPERATE MACHINERY. THIS PRODUCT IS DERIVED FROM HEMP AND CONTAINS DELTA-9-TETRAHYDROCANNABINOL (\u201cTHC\u201d), WHICH COULD RESULT IN A FAILED DRUG TEST. FOR ANY QUESTIONS OR CONCERNS CONTACT SAYHIGH@HIPPIEWATER.COM.* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease."},{"id":"image_footer_logo","type":"image_picker","label":"Footer_Logo"},{"type":"header","content":"Navigation"},{"type":"link_list","id":"menu","label":"Footer Menu","default":"footer"}],"presets":[{"name":"footer","category":"Liquify","blocks":[]}],"enabled_on":{"groups":["*"]}} {% endschema %}