<div class="hero_section"><div class="global-styles w-embed"><style>/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}
/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}
/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}
/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}
/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}
/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}
/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/
/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}
/* These classes are never overwritten */
.hide {
  display: none !important;
}
@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
.margin-0 {
  margin: 0rem !important;
}
.padding-0 {
  padding: 0rem !important;
}
.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}
.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}
.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}
.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}
.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}
.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
</style></div><main class="main-wrapper-2"><div class="hero-section"><div class="padding-global-3"><div class="hero-detail"><div class="left-column"><div class="hero-wrapper"><div class="w-layout-hflex star_rating_hero_container"><div class="w-layout-hflex hippie_review_container"><img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<div class="text-block-45">
{{ section.settings.text_social_proof_copy }}
</div>
</div></div><div data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414debb" class="hero_title-wrapper"><div class="hero-line"><h1 text-split="" letters-slide-up="" class="heading-style-h1-2">
{{ section.settings.text_heading_primary }}
</h1>
</div><div class="hero-line"></div></div><div class="sub-information"><div class="sub-line"><div class="sub-text"><div class="text-weight-bold-2">
{{ section.settings.text_hero_body_paragraph }}
</div>
</div></div></div><div class="button-group-2 div-block-1139"><a data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414dedb" href="{{ section.settings.url_button_link }}" class="button-4 is-icon w-inline-block"> {{ section.settings.text_hero_button_primary }} </a>
</div></div></div><div class="right-column"><div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="hero-tabs w-tabs"><div class="tabs-content w-tab-content"><div data-w-tab="Tab 1" data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df10" class="hero_tab-content is-1 w-tab-pane w--tab-active"><img class="tab-content" src="{{ section.settings.image_hero_image_primary | img_url: 'master' }}" alt="{{ section.settings.image_hero_image_primary.alt }}">
<div class="tab-img"><img sizes="(max-width: 1080px) 100vw, 1080px" srcset="{{ 'IMG-0068-p-500.jpg' | asset_url }} 500w, {{ 'IMG-0068-p-800.jpg' | asset_url }} 800w, {{ 'IMG-0068.jpg' | asset_url }} 1080w" alt="" src="{{ 'IMG-0068.jpg' | asset_url }}" loading="lazy" class="full-img">
</div></div><div data-w-tab="Tab 2" data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df3f" class="hero_tab-content is-2 w-tab-pane"><div class="tab-content"><a href="#" class="article-wrapper w-inline-block"><img sizes="100vw" srcset="{{ 'Cove-p-500.jpg' | asset_url }} 500w, {{ 'Cove-p-800.jpg' | asset_url }} 800w, {{ 'Cove.jpg' | asset_url }} 900w" alt="" src="{{ 'Cove.jpg' | asset_url }}" loading="lazy" class="article-img">
<div class="article-info"><div class="text-weight-bold-2 text-size-medium">The World Has a Plastic Problem.</div><div class="text-style-link-2">Learn More</div></div></a><div class="detail-wrapper is-4"><a data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df49" href="#" class="detail-floating w-inline-block"><div class="detail-text"><div class="text-weight-medium-2">Biodegradable*</div></div><div class="line-2"></div><div class="round-icon"><div class="blue-circle"><div class="icon-1x1-medium-2 w-embed"><svg width="100%" style="" viewbox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div></a><div class="detail-subinfo"><div class="text-size-small-2">*PHA is consumed by a wide variety of microorganisms in nature, including in soils and oceans around the world. The speed of biodegradation in the natural environment is variable and depends on a variety of factors such as the product’s form factor as well as temperature, humidity, and microbial load.</div></div></div><div class="detail-wrapper is-5"><a data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df55" href="#" class="detail-floating w-inline-block"><div class="detail-text"><div class="text-weight-medium-2">Compostable*</div></div><div class="line-2"></div><div class="round-icon"><div class="blue-circle"><div class="icon-1x1-medium-2 w-embed"><svg width="100%" style="" viewbox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div></a><div class="detail-subinfo"><div class="text-size-small-2">*Both home and industrial composting present optimized environments in which Cove’s biodegradation will accelerate. In the unlikely event that a Cove bottle will fail to fully biodegrade by the end of a composting process.</div></div></div><div class="detail-wrapper is-2"><a data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df61" href="#" class="detail-floating w-inline-block"><div class="detail-text"><div class="text-weight-medium-2">Non-toxic*</div></div><div class="line-2"></div><div class="round-icon"><div class="blue-circle"><div class="icon-1x1-medium-2 w-embed"><svg width="100%" style="" viewbox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div></a><div class="detail-subinfo"><div class="text-size-small-2">*There are zero toxic compounds nor microplastics contained within PHA, nor do they result from the molecular breakdown of PHA. In fact, PHA is biocompatible and bioresorbable, and the human body naturally produces PHA as part of a healthy microbiome.</div></div></div></div><div class="tab-img"><img sizes="100vw" srcset="{{ '66553186adc8d94887dd361363115e61-p-500.jpg' | asset_url }} 500w, {{ '66553186adc8d94887dd361363115e61-p-800.jpg' | asset_url }} 800w, {{ '66553186adc8d94887dd361363115e61.jpg' | asset_url }} 1080w" alt="" src="{{ '66553186adc8d94887dd361363115e61.jpg' | asset_url }}" loading="lazy" class="full-img">
</div></div><div data-w-tab="Tab 3" class="hero_tab-content w-tab-pane"><div class="tab-content"><div class="video-title"><div class="heading-style-h4-2">Introducing the World’s<br>
First Biodegradable Water Bottle</div></div><div class="tab-img"><div data-poster-url="https://uploads-ssl.webflow.com/64ef44bf539cc93c5f96eec7/64f2ef5f2d17cfe82a8da0d5_e0b9c9cc93004ed9868e9f034b3c00bc-poster-00001.jpg" data-video-urls="videos/e0b9c9cc93004ed9868e9f034b3c00bc-poster-00001.jpg,videos/e0b9c9cc93004ed9868e9f034b3c00bc-transcode.mp4,videos/e0b9c9cc93004ed9868e9f034b3c00bc-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="full-img w-background-video w-background-video-atom"><video id="a8a4dfb6-a2d9-be43-b6ac-43a95414df76-video" autoplay="" loop="" style="background-image:url("https://uploads-ssl.webflow.com/64ef44bf539cc93c5f96eec7/64f2ef5f2d17cfe82a8da0d5_e0b9c9cc93004ed9868e9f034b3c00bc-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="{{ 'e0b9c9cc93004ed9868e9f034b3c00bc-poster-00001.jpg' | asset_url }}" data-wf-ignore="true">
</video></div></div></div></div></div></div></div></div></div></div></main></div> {% schema %} {"tag":"header","name":"Hero","class":"section_header-home","settings":[{"id":"text_social_proof_copy","type":"text","label":"Social_Proof_Copy","default":"132 Verified 5-star reviews"},{"id":"text_heading_primary","type":"text","label":"Heading_Primary","default":"A Better-For-You Buzz,<br\/>"},{"id":"text_hero_body_paragraph","type":"text","label":"Hero_Body_Paragraph","default":"Elevate your every moment with a feel-good ritual that hydrates, relaxes, and uplifts, a lightly sparkling THC beverage designed to nourish your body and soul."},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_hero_button_primary","type":"text","label":"Hero_Button_Primary","default":"\n                          <div class=\"button-text\">Purchase Now<\/div>\n                          <div class=\"icon-1x1-small w-embed\"><svg aria-hidden=\"true\" fill=\"currentColor\" role=\"img\" viewbox=\"0 0 20 21\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\">\n                              <title>Arrow Right<\/title>\n                              <polygon points=\"16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9\">\n                            <\/polygon><\/svg><\/div>\n                        "},{"id":"image_hero_image_primary","type":"image_picker","label":"Hero_Image_Primary"}],"presets":[{"name":"Hero","category":"Liquify","blocks":[]}]} {% endschema %}