<header class="section_header36 color-scheme-2">
  <div class="w-layout-grid header36_component">
    <div li-content-for-blocks class="header36_content">
      {% for block in section.blocks %}
        {% case block.type %}

          {% when '@app' %}
            {% render block %}

          {% when 'review-stars' %}
            <div li-block="review-stars" class="w-layout-hflex hippie_review_container">
              <img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
              <img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
              <img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
              <img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
              <img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
              <div class="text-block-45">
                {{ block.settings.text_hero_social_proof }}
              </div>
            </div>

          {% when 'hero_content' %}
            <div li-block="hero_content" class="margin-bottom">
              <h1 class="heading-style-h1-7">
                {{ block.settings.text_heading }}
              </h1>
              <p class="text-size-medium-7">
                {{ block.settings.text_paragraph }}
              </p>
            </div>

          {% when 'one_cta' %}
            <div li-block="one_cta" class="margin-top button-group-7">
              <a href="{{ block.settings.url_hero_primary_button_link }}" class="hw-primary-button w-button">
                {{ block.settings.text_hero_primary_button_text }}
              </a>
            </div>

          {% when 'two_ctas' %}
            <div li-block="two_ctas" class="margin-top button-group-7">
              <a href="{{ block.settings.url_hero_primary_button_link }}" class="hw-primary-button w-button">
                {{ block.settings.text_hero_primary_button_text }}
              </a>
              <a href="{{ block.settings.url_hero_secondary_button_link }}" class="hw-secondary-button w-button">
                {{ block.settings.text_hero_secondary_button_text }}
              </a>
            </div>

        {% endcase %}
      {% endfor %}
    </div>

    <div class="header36_image-wrapper">
      <img loading="eager"
           alt="{{ section.settings.image_image.alt }}"
           src="{{ section.settings.image_image | img_url: 'master' }}"
           class="header36_image">
    </div>
  </div>
</header>

{% schema %}
{
  "tag": "header",
  "name": "Hero Header Section",
  "class": "section_header-home",
  "settings": [
    {
      "id": "image_image",
      "type": "image_picker",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "review-stars",
      "name": "Review Stars",
      "settings": [
        {
          "id": "text_hero_social_proof",
          "type": "text",
          "label": "Hero Social Proof",
          "default": "132 Verified 5-star reviews"
        }
      ]
    },
    {
      "type": "hero_content",
      "name": "Header + Paragraph",
      "settings": [
        {
          "id": "text_heading",
          "type": "text",
          "label": "Heading",
          "default": "Elevate Your Experience with Better Beverages"
        },
        {
          "id": "text_paragraph",
          "type": "text",
          "label": "Paragraph",
          "default": "Our mission is to provide a refreshing alternative to alcohol with our delicious, better-for-you beverages. Enjoy the taste and benefits without the drawbacks."
        }
      ]
    },
    {
      "type": "one_cta",
      "name": "Primary Button Only",
      "settings": [
        {
          "id": "url_hero_primary_button_link",
          "type": "url",
          "label": "Primary Button Link"
        },
        {
          "id": "text_hero_primary_button_text",
          "type": "text",
          "label": "Primary Button Text",
          "default": "Learn More"
        }
      ]
    },
    {
      "type": "two_ctas",
      "name": "Primary & Secondary CTA",
      "settings": [
        {
          "id": "url_hero_primary_button_link",
          "type": "url",
          "label": "Primary Button Link"
        },
        {
          "id": "text_hero_primary_button_text",
          "type": "text",
          "label": "Primary Button Text",
          "default": "Learn More"
        },
        {
          "id": "url_hero_secondary_button_link",
          "type": "url",
          "label": "Secondary Button Link"
        },
        {
          "id": "text_hero_secondary_button_text",
          "type": "text",
          "label": "Secondary Button Text",
          "default": "Sign Up"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Hero Header Section",
      "category": "Liquify",
      "blocks": [
        { "type": "review-stars" },
        { "type": "hero_content" },
        { "type": "two_ctas" }
      ]
    }
  ]
}
{% endschema %}
