<div class="hero_section"><div class="global-styles w-embed"><style>/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}
/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}
/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}
/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}
/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}
/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}
/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/
/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}
/* These classes are never overwritten */
.hide {
  display: none !important;
}
@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
.margin-0 {
  margin: 0rem !important;
}
.padding-0 {
  padding: 0rem !important;
}
.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}
.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}
.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}
.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}
.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}
.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
</style></div><main class="main-wrapper-2"><div class="hero-section"><div class="padding-global-3"><div class="hero-detail"><div class="left-column"><div class="hero-wrapper"><div data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414debb" class="hero_title-wrapper"><div class="hero-line"><h1 text-split="" letters-slide-up="" class="heading-style-h1-2">
{{ section.settings.text_heading }}
</h1>
</div><div class="hero-line"><div class="blue-footer"><h1 letters-slide-up="" text-split="" class="heading-style-h1-2">
{{ section.settings.text_heading }}
</h1>
<div class="blue-text-underneath"></div></div></div></div><div class="sub-information"><div class="sub-line"><div class="sub-text"><div class="text-weight-bold-2">
{{ section.settings.text_paragraph }}
</div>
</div></div></div><div class="w-layout-hflex star_rating_hero_container"><div class="w-layout-hflex hippie_review_container"><img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<img loading="lazy" src="{{ 'Star2.svg' | asset_url }}" alt="" class="hero_stars">
<div class="text-block-45">
{{ section.settings.text_text }}
</div>
</div></div><div class="button-group-2 div-block-1139"><a data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414dedb" href="{{ section.settings.url_button_link }}" class="button-4 is-icon w-inline-block"> {{ section.settings.text_button_text }} </a>
</div></div><div class="product_infor-wrapper"><div class="product_infor-circle"><div class="bullet-point is-1"></div><div class="bullet-point is-2"></div><div class="bullet-point is-3"></div><img class="circle-img" src="{{ section.settings.image_image | img_url: 'master' }}" alt="{{ section.settings.image_image.alt }}" sizes="(max-width: 1330px) 100vw, 1330px" data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414dee6" loading="lazy">
</div><div class="product_infor-bullet"><div class="product_infor-content is-1 feel_good_section"><div class="product_infor-title"><div class="icon-1x1-small"><div class="w-embed"><XML></XML><svg viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M10 9H8M2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.5 14.5C16.5 14.5 15 16.5 12 16.5C9 16.5 7.5 14.5 7.5 14.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15.5 9C15.2239 9 15 8.77614 15 8.5C15 8.22386 15.2239 8 15.5 8C15.7761 8 16 8.22386 16 8.5C16 8.77614 15.7761 9 15.5 9Z" fill="#000000" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><div class="text-weight-bold-2">
{{ section.settings.text_text }}
</div>
</div><div class="text-size-regular-2">
{{ section.settings.text_text }}
</div>
</div><div class="product_infor-content is-2"><div class="product_infor-title"><div class="icon-1x1-small"><div class="w-embed"><XML></XML><svg stroke-width="1.5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M13.3895 10.1109L5.61133 2.33275C1.31556 6.62852 1.31556 13.5933 5.61133 17.8891C9.9071 22.1849 16.8719 22.1849 21.1677 17.8891L13.3895 10.1109ZM13.3895 10.1109L13.7431 18.2427M13.3895 10.1109H5.61133M13.3895 10.1109L8.0862 15.4142" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><div class="text-weight-bold-2"><strong>
{{ section.settings.text_text }}
</strong>
</div></div><div class="text-size-regular-2">
{{ section.settings.text_text }}
</div>
</div><div class="product_infor-content is-3"><div class="product_infor-title"><div class="icon-1x1-small"><div class="w-embed"><XML></XML><svg viewbox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M9 18C9 18 9.9 14.2588 12 12" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.1857 7.24133L16.5601 11.1306C16.8031 13.6536 14.9114 15.9001 12.3883 16.143C9.91266 16.3814 7.67 14.5718 7.43162 12.0962C7.19324 9.62055 9.00691 7.4204 11.4826 7.18203L15.6293 6.78274C15.9096 6.75575 16.1587 6.96107 16.1857 7.24133Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><div class="text-weight-bold-2"><strong>
{{ section.settings.text_text }}
</strong>
</div></div><div class="text-size-regular-2"><em class="italic-text-2">
{{ section.settings.text_text }}
</em>
</div></div></div></div></div><div class="right-column"><div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="hero-tabs w-tabs"><div class="tabs-content w-tab-content"><div data-w-tab="Tab 1" data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df10" class="hero_tab-content is-1 w-tab-pane w--tab-active"><img class="tab-content" src="{{ section.settings.image_image | img_url: 'master' }}" alt="{{ section.settings.image_image.alt }}">
<div class="tab-img"><img sizes="(max-width: 1080px) 100vw, 1080px" srcset="{{ 'IMG-0068-p-500.jpg' | asset_url }} 500w, {{ 'IMG-0068-p-800.jpg' | asset_url }} 800w, {{ 'IMG-0068.jpg' | asset_url }} 1080w" alt="" src="{{ 'IMG-0068.jpg' | asset_url }}" loading="lazy" class="full-img">
</div></div><div data-w-tab="Tab 2" data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df3f" class="hero_tab-content is-2 w-tab-pane"><div class="tab-content"><a href="#" class="article-wrapper w-inline-block"><img sizes="100vw" srcset="{{ 'Cove-p-500.jpg' | asset_url }} 500w, {{ 'Cove-p-800.jpg' | asset_url }} 800w, {{ 'Cove.jpg' | asset_url }} 900w" alt="" src="{{ 'Cove.jpg' | asset_url }}" loading="lazy" class="article-img">
<div class="article-info"><div class="text-weight-bold-2 text-size-medium">The World Has a Plastic Problem.</div><div class="text-style-link-2">Learn More</div></div></a><div class="detail-wrapper is-4"><a data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df49" href="#" class="detail-floating w-inline-block"><div class="detail-text"><div class="text-weight-medium-2">Biodegradable*</div></div><div class="line-2"></div><div class="round-icon"><div class="blue-circle"><div class="icon-1x1-medium-2 w-embed"><svg width="100%" style="" viewbox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div></a><div class="detail-subinfo"><div class="text-size-small-2">*PHA is consumed by a wide variety of microorganisms in nature, including in soils and oceans around the world. The speed of biodegradation in the natural environment is variable and depends on a variety of factors such as the product’s form factor as well as temperature, humidity, and microbial load.</div></div></div><div class="detail-wrapper is-5"><a data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df55" href="#" class="detail-floating w-inline-block"><div class="detail-text"><div class="text-weight-medium-2">Compostable*</div></div><div class="line-2"></div><div class="round-icon"><div class="blue-circle"><div class="icon-1x1-medium-2 w-embed"><svg width="100%" style="" viewbox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div></a><div class="detail-subinfo"><div class="text-size-small-2">*Both home and industrial composting present optimized environments in which Cove’s biodegradation will accelerate. In the unlikely event that a Cove bottle will fail to fully biodegrade by the end of a composting process.</div></div></div><div class="detail-wrapper is-2"><a data-w-id="a8a4dfb6-a2d9-be43-b6ac-43a95414df61" href="#" class="detail-floating w-inline-block"><div class="detail-text"><div class="text-weight-medium-2">Non-toxic*</div></div><div class="line-2"></div><div class="round-icon"><div class="blue-circle"><div class="icon-1x1-medium-2 w-embed"><svg width="100%" style="" viewbox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div></a><div class="detail-subinfo"><div class="text-size-small-2">*There are zero toxic compounds nor microplastics contained within PHA, nor do they result from the molecular breakdown of PHA. In fact, PHA is biocompatible and bioresorbable, and the human body naturally produces PHA as part of a healthy microbiome.</div></div></div></div><div class="tab-img"><img sizes="100vw" srcset="{{ '66553186adc8d94887dd361363115e61-p-500.jpg' | asset_url }} 500w, {{ '66553186adc8d94887dd361363115e61-p-800.jpg' | asset_url }} 800w, {{ '66553186adc8d94887dd361363115e61.jpg' | asset_url }} 1080w" alt="" src="{{ '66553186adc8d94887dd361363115e61.jpg' | asset_url }}" loading="lazy" class="full-img">
</div></div><div data-w-tab="Tab 3" class="hero_tab-content w-tab-pane"><div class="tab-content"><div class="video-title"><div class="heading-style-h4-2">Introducing the World’s<br>
First Biodegradable Water Bottle</div></div><div class="tab-img"><div data-poster-url="https://uploads-ssl.webflow.com/64ef44bf539cc93c5f96eec7/64f2ef5f2d17cfe82a8da0d5_e0b9c9cc93004ed9868e9f034b3c00bc-poster-00001.jpg" data-video-urls="videos/e0b9c9cc93004ed9868e9f034b3c00bc-poster-00001.jpg,videos/e0b9c9cc93004ed9868e9f034b3c00bc-transcode.mp4,videos/e0b9c9cc93004ed9868e9f034b3c00bc-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="full-img w-background-video w-background-video-atom"><video id="a8a4dfb6-a2d9-be43-b6ac-43a95414df76-video" autoplay="" loop="" style="background-image:url("https://uploads-ssl.webflow.com/64ef44bf539cc93c5f96eec7/64f2ef5f2d17cfe82a8da0d5_e0b9c9cc93004ed9868e9f034b3c00bc-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="{{ 'e0b9c9cc93004ed9868e9f034b3c00bc-poster-00001.jpg' | asset_url }}" data-wf-ignore="true">
</video></div></div></div></div></div></div><div class="social-wrapper"><div class="w-layout-hflex flex-block-8"><a href="https://www.instagram.com/myhippiewater/" target="_blank" class="w-inline-block"><div class="icon-1x1-large-2 instagram_icon w-embed"><XML></XML><svg height="100%" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewbox="0 0 600 600" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="matrix(1.01619,0,0,1.01619,44,43.8384)"><path d="M251.921,0.159C183.503,0.159 174.924,0.449 148.054,1.675C121.24,2.899 102.927,7.157 86.902,13.385C70.336,19.823 56.287,28.437 42.282,42.442C28.277,56.447 19.663,70.496 13.225,87.062C6.997,103.086 2.739,121.399 1.515,148.213C0.289,175.083 0,183.662 0,252.08C0,320.497 0.289,329.076 1.515,355.946C2.739,382.76 6.997,401.073 13.225,417.097C19.663,433.663 28.277,447.712 42.282,461.718C56.287,475.723 70.336,484.337 86.902,490.775C102.927,497.002 121.24,501.261 148.054,502.484C174.924,503.71 183.503,504 251.921,504C320.338,504 328.917,503.71 355.787,502.484C382.601,501.261 400.914,497.002 416.938,490.775C433.504,484.337 447.553,475.723 461.559,461.718C475.564,447.712 484.178,433.663 490.616,417.097C496.843,401.073 501.102,382.76 502.325,355.946C503.551,329.076 503.841,320.497 503.841,252.08C503.841,183.662 503.551,175.083 502.325,148.213C501.102,121.399 496.843,103.086 490.616,87.062C484.178,70.496 475.564,56.447 461.559,42.442C447.553,28.437 433.504,19.823 416.938,13.385C400.914,7.157 382.601,2.899 355.787,1.675C328.917,0.449 320.338,0.159 251.921,0.159ZM251.921,45.551C319.186,45.551 327.154,45.807 353.718,47.019C378.28,48.14 391.619,52.244 400.496,55.693C412.255,60.263 420.647,65.723 429.462,74.538C438.278,83.353 443.737,91.746 448.307,103.504C451.757,112.381 455.861,125.72 456.981,150.282C458.193,176.846 458.45,184.814 458.45,252.08C458.45,319.345 458.193,327.313 456.981,353.877C455.861,378.439 451.757,391.778 448.307,400.655C443.737,412.414 438.278,420.806 429.462,429.621C420.647,438.437 412.255,443.896 400.496,448.466C391.619,451.916 378.28,456.02 353.718,457.14C327.158,458.352 319.191,458.609 251.921,458.609C184.65,458.609 176.684,458.352 150.123,457.14C125.561,456.02 112.222,451.916 103.345,448.466C91.586,443.896 83.194,438.437 74.378,429.621C65.563,420.806 60.103,412.414 55.534,400.655C52.084,391.778 47.98,378.439 46.859,353.877C45.647,327.313 45.391,319.345 45.391,252.08C45.391,184.814 45.647,176.846 46.859,150.282C47.98,125.72 52.084,112.381 55.534,103.504C60.103,91.746 65.563,83.353 74.378,74.538C83.194,65.723 91.586,60.263 103.345,55.693C112.222,52.244 125.561,48.14 150.123,47.019C176.687,45.807 184.655,45.551 251.921,45.551Z" style="fill-rule:nonzero;"></path><path d="M251.921,336.053C205.543,336.053 167.947,298.457 167.947,252.08C167.947,205.702 205.543,168.106 251.921,168.106C298.298,168.106 335.894,205.702 335.894,252.08C335.894,298.457 298.298,336.053 251.921,336.053ZM251.921,122.715C180.474,122.715 122.556,180.633 122.556,252.08C122.556,323.526 180.474,381.444 251.921,381.444C323.367,381.444 381.285,323.526 381.285,252.08C381.285,180.633 323.367,122.715 251.921,122.715Z" style="fill:rgb(3,4,4);fill-rule:nonzero;"></path><path d="M416.627,117.604C416.627,134.3 403.092,147.834 386.396,147.834C369.701,147.834 356.166,134.3 356.166,117.604C356.166,100.908 369.701,87.374 386.396,87.374C403.092,87.374 416.627,100.908 416.627,117.604Z" style="fill:rgb(3,4,4);fill-rule:nonzero;"></path></g></svg></div></a><a href="https://www.tiktok.com/@drinkhippiewater" target="_blank" class="w-inline-block"><div class="icon-1x1-large-2 tiktok_icon w-embed"><XML></XML><svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"></path></svg></div></a><a href="https://x.com/MyHippieWater" target="_blank" class="w-inline-block"><div class="icon-1x1-large-2 w-embed"><XML></XML><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="24px" height="24px" viewbox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z"></path></svg></div></a></div><div class="white-corner w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100"><path d="m100,0H0v100C0,44.77,44.77,0,100,0Z" fill="#F9F8F6"></path></svg></div><div class="white-corner is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100"><path d="m100,0H0v100C0,44.77,44.77,0,100,0Z" fill="#FFFFFF"></path></svg></div><div class="white-corner w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100"><path d="m100,0H0v100C0,44.77,44.77,0,100,0Z" fill="#ffffff"></path></svg></div></div></div></div></div></div></main></div> {% schema %} {"tag":"header","name":"Image with Text","class":"section_header-home","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"A Better-For-You Buzz,<br\/>"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"Elevate your every moment with a feel-good ritual that hydrates, relaxes, and uplifts, a lightly sparkling THC beverage designed to nourish your body and soul."},{"id":"text_text","type":"text","label":"Text","default":"132 Verified 5-star reviews"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text","type":"text","label":"Button Text","default":"\n                          <div class=\"button-text\">Purchase Now<\/div>\n                          <div class=\"icon-1x1-small w-embed\"><svg aria-hidden=\"true\" fill=\"currentColor\" role=\"img\" viewbox=\"0 0 20 21\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\">\n                              <title>Arrow Right<\/title>\n                              <polygon points=\"16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9\">\n                            <\/polygon><\/svg><\/div>\n                        "},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"Image with Text","category":"Liquify","blocks":[]}]} {% endschema %}