<div class="logo-bar-main-wrapper---brix"><div class="title---brix text-single-bold---brix logo-bar---brix">As Heard On:</div><div class="logo-bar-v1-grid---brix"><img alt="" src="{{ 'Vulkan-Background-Removed.png' | asset_url }}" class="logo---brix vulkan_logo">
<img id="w-node-_591a0377-01dc-b4f2-577e-34cff110b781-889bcad8" src="{{ 'GMA-Logo.png' | asset_url }}" alt="" class="logo---brix">
<img alt="" src="{{ 'KTLA5-Logo-1.png' | asset_url }}" class="logo---brix vulkan_logo">
<img sizes="(max-width: 1200px) 100vw, 1200px" srcset="{{ 'E_News_current_logo-p-500.png' | asset_url }} 500w, {{ 'E_News_current_logo-p-800.png' | asset_url }} 800w, {{ 'E_News_current_logo-p-1080.png' | asset_url }} 1080w, {{ 'E_News_current_logo.png' | asset_url }} 1200w" alt="" src="{{ 'E_News_current_logo.png' | asset_url }}" class="logo---brix enews_logo">
</div></div> {% schema %} {"tag":"section","name":"Media_List","presets":[{"name":"Media_List","category":"Liquify","blocks":[]}]} {% endschema %}