<style>.margin-bottom {
    margin-top: 0rem;
     margin-right: 0rem;
     margin-left: 0rem
  }
  .margin-bottom.medium {
    margin-top: 0rem;
     margin-right: 0rem;
     margin-left: 0rem
  }
  @media screen and (max-width: 767px) {
    .margin-bottom {
      margin-top: 0rem;
       margin-right: 0rem;
       margin-left: 0rem
    }
  }
  @media screen and (max-width: 479px) {
    .margin-bottom {
      margin-top: 0rem;
       margin-right: 0rem;
       margin-left: 0rem
    }
  }
  .breadcrumb-divider {
    display: flex;
     width: 1rem;
     height: 1rem;
     justify-content: center;
     align-items: center
  }
  .heading-style-h4 9 {
    font-size: 2rem;
     line-height: 1.3;
     font-weight: 700
  }
  .heading-style-h4 9.medium {
    font-size: 1.75rem
  }
  @media screen and (max-width: 767px) {
    .heading-style-h4 9 {
      font-size: 1.5rem;
       line-height: 1.4
    }
  }
  .product-section-padding {
    padding-top: 2em;
     padding-bottom: 2em
  }
  .product-header2_gallery {
    position: relative;
     display: grid;
     grid-auto-columns: 1fr;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto
  }
  @media screen and (max-width: 479px) {
    .product-header2_gallery {
      grid-template-columns: 1fr
    }
  }
  @media screen and (max-width: 767px) {
    .product-header2_gallery {
      grid-column-gap: 0rem;
       grid-row-gap: 0rem;
       grid-template-columns: 1fr
    }
  }
  .product-header2_tab-link {
    margin-right: 1.5rem;
     padding-top: 0.5rem;
     padding-right: 0rem;
     padding-bottom: 0.5rem;
     padding-left: 0rem;
     border-bottom-style: solid;
     border-bottom-width: 1.5px;
     border-bottom-color: ;
     background-color: 
  }
  .product-header2_tab-link.main_current {
    border-bottom-color: ;
     background-color: 
  }
  .heading-style-h3 6 {
    font-family: Clever;
     font-size: 3.5rem;
     line-height: 1;
     font-weight: 700
  }
  @media screen and (max-width: 767px) {
    .heading-style-h3 6 {
      font-size: 2rem
    }
  }
  .heading-style-h3 6.medium {
    font-size: 2.25rem
  }
  .product-header2_modal_close-button {
    position: absolute;
     top: 1rem;
     right: 1rem
  }
  .product-header2_list {
    display: grid;
     width: 100%;
     grid-auto-columns: 1fr;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto
  }
  @media screen and (max-width: 479px) {
    .product-header2_list {
      grid-template-columns: 1fr
    }
  }
  @media screen and (max-width: 767px) {
    .product-header2_list {
      display: none
    }
  }
  .is_active {
    border-top-style: solid;
     border-top-width: 2px;
     border-top-color: hsla(38.18181818181818, 97.35%, 55.69%, 1.00);
     border-right-style: solid;
     border-right-width: 2px;
     border-right-color: hsla(38.18181818181818, 97.35%, 55.69%, 1.00);
     border-bottom-style: solid;
     border-bottom-width: 2px;
     border-bottom-color: hsla(38.18181818181818, 97.35%, 55.69%, 1.00);
     border-left-style: solid;
     border-left-width: 2px;
     border-left-color: hsla(38.18181818181818, 97.35%, 55.69%, 1.00)
  }
  .product-header2_gallery-button-wrapper {
    position: absolute;
     left: auto;
     top: auto;
     right: 1rem;
     bottom: 1rem;
     z-index: 1;
     cursor: pointer
  }
  .product-header4_rating-icon {
    display: flex;
     margin-right: 0.25rem;
     justify-content: center;
     align-items: center;
     color: 
  }
  .form_field-label 2 {
    margin-bottom: 0rem;
     font-size: 1rem;
     line-height: 1.5;
     font-weight: 700
  }
  .margin-small {
    margin-top: 0rem;
     margin-right: 0rem;
     margin-left: 0rem
  }
  .product-header2_lightbox-link-wrapper {
    width: 100%}
  .container-small {
    width: 100%;
     max-width: 48rem;
     margin-right: auto;
     margin-left: auto
  }
  .padding-section-small {
    padding-top: 0rem;
     padding-right: 5%;
     padding-bottom: 0rem;
     padding-left: 5%}
  .Div Block 1141 {
    display: flex;
     margin-bottom: 0.5rem;
     justify-content: flex-start;
     align-items: center
  }
  .product-header4_option {
    margin-bottom: 1.5rem
  }
  .product-header2_modal-content-wrapper {
    position: absolute;
     overflow: scroll;
     width: 100vw;
     height: 100vh;
     padding-top: 5rem;
     padding-right: 5%;
     padding-bottom: 5rem;
     padding-left: 5%;
     background-color: 
  }
  .product-header2_modal-content-wrapper.medium {
    padding-top: 4rem;
     padding-bottom: 4rem
  }
  @media screen and (max-width: 767px) {
    .product-header2_modal-content-wrapper {
      padding-bottom: 7rem
    }
  }
  .text-align-center {
    text-align: center
  }
  .is-buy-now-button {
    width: 100%;
     margin-bottom: 1rem
  }
  .product-header2_image-wrapper {
    overflow: hidden;
     width: 100%;
     height: 100%;
     aspect-ratio: auto;
     border-top-left-radius: ;
     border-top-right-radius: ;
     border-bottom-left-radius: ;
     border-bottom-right-radius: 
  }
  .product-header2_lightbox-link {
    position: relative;
     display: block;
     width: 100%;
     height: 100%}
  .is-add-to-cart-button {
    width: 100%;
     margin-top: 0.5rem;
     margin-bottom: 1rem
  }
  .form_input 4 {
    height: auto;
     min-height: 2.75rem;
     margin-bottom: 0px;
     padding-top: 0.5rem;
     padding-right: 0.75rem;
     padding-bottom: 0.5rem;
     padding-left: 0.75rem;
     border-top-style: solid;
     border-top-width: 1px;
     border-top-color: ;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: ;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: ;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: ;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
     background-color: ;
     color: ;
     font-size: 1rem;
     line-height: 1.6
  }
  .form_input 4.main_placeholder {
    color: 
  }
  .form_input 4.main_focus {
    border-top-color: ;
     border-right-color: ;
     border-bottom-color: ;
     border-left-color: 
  }
  .Flavor-select-loop-container {
    display: block;
     width: 33%;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 0%;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem
  }
  .margin-small {
    margin-right: 0rem;
     margin-bottom: 0rem;
     margin-left: 0rem
  }
  .icon-embed-xxsmall {
    display: flex;
     width: 1rem;
     height: 1rem;
     flex-direction: column;
     justify-content: center;
     align-items: center
  }
  .margin-top 2 {
    margin-right: 0rem;
     margin-bottom: 0rem;
     margin-left: 0rem
  }
  .margin-top 2.medium {
    margin-right: 0rem;
     margin-bottom: 0rem;
     margin-left: 0rem
  }
  @media screen and (max-width: 767px) {
    .margin-top 2 {
      margin-right: 0rem;
       margin-bottom: 0rem;
       margin-left: 0rem
    }
  }
  @media screen and (max-width: 479px) {
    .margin-top 2 {
      margin-right: 0rem;
       margin-bottom: 0rem;
       margin-left: 0rem
    }
  }
  .product-header2_main-image {
    width: 100%;
     height: 100%;
     aspect-ratio: 5/4;
     object-fit: contain
  }
  .margin-medium {
    margin-top: 0rem;
     margin-right: 0rem;
     margin-left: 0rem
  }
  .breadcrumb_component {
    display: flex;
     width: 100%;
     align-items: center;
     grid-column-gap: 0.25rem;
     grid-row-gap: 0.25rem
  }
  .product-header2_modal {
    position: fixed;
     left: 0%;
     top: 0%;
     right: 0%;
     bottom: 0%;
     z-index: 99;
     display: none;
     overflow: auto;
     height: 100vh;
     align-items: flex-start
  }
  .Flavor_Container {
    display: flex;
     width: 32%;
     height: auto;
     flex-direction: row;
     flex-wrap: nowrap;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 0%;
     border-top-style: none;
     border-top-width: 1px;
     border-top-color: black;
     border-right-style: none;
     border-right-width: 1px;
     border-right-color: black;
     border-bottom-style: none;
     border-bottom-width: 1px;
     border-bottom-color: black;
     border-left-style: none;
     border-left-width: 1px;
     border-left-color: black;
     border-top-left-radius: 16px;
     border-top-right-radius: 16px;
     border-bottom-left-radius: 16px;
     border-bottom-right-radius: 16px;
     background-color: hsla(29.333333333333336, 76.27%, 88.43%, 1.00);
     cursor: pointer
  }
  .is-quantity-input {
    width: 4rem
  }
  .is-quantity-input.main_placeholder {
    color: 
  }
  .section_product-header {
    position: relative;
     display: block;
     font-family: Galanogrotesque;
     font-weight: 400
  }
  .product-header4_price-wrapper {
    display: flex;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem
  }
  @media screen and (max-width: 479px) {
    .product-header4_price-wrapper {
      flex-direction: column
    }
  }
  .product-header2_content-top {
    margin-bottom: 3rem
  }
  @media screen and (max-width: 767px) {
    .product-header2_content-top {
      display: flex;
       margin-bottom: 2rem;
       flex-direction: column-reverse
    }
  }
  .Image 44 {
    box-sizing: border-box;
     width: 100%;
     height: auto;
     aspect-ratio: 2/3;
     border-top-left-radius: 16px;
     border-top-right-radius: 16px;
     border-bottom-left-radius: 16px;
     border-bottom-right-radius: 16px;
     object-fit: contain
  }
  .text-size-small 3 {
    font-size: 1rem;
     line-height: 1.5;
     color: @raw<|inherit|>
  }
  .variant-button-row {
    display: flex;
     width: 100%;
     flex-direction: row;
     flex-wrap: nowrap;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem
  }
  .product-header2_component {
    padding-bottom: 3rem;
     flex-direction: column;
     justify-content: flex-start;
     grid-auto-columns: 1fr;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
     grid-template-columns: 1fr;
     grid-template-rows: auto auto
  }
  @media screen and (max-width: 767px) {
    .product-header2_component {
      padding-bottom: 1.5rem
    }
  }
  .product-header2_component.medium {
    padding-bottom: 2.5rem
  }
  .form_field-label 3 {
    margin-bottom: 0.5rem;
     font-weight: 400
  }
  .active-flavor {
    padding-left: 8px;
     font-size: 1rem;
     line-height: 1.5
  }
  .product-hero-container {
    padding-top: 0rem;
     padding-bottom: 0rem
  }
  .heading-style-h5 2 {
    font-family: Galanogrotesque;
     color: #002d1e;
     font-size: 1.3rem;
     line-height: 1.4;
     font-weight: 700
  }
  @media screen and (max-width: 767px) {
    .heading-style-h5 2 {
      font-size: 1.25rem
    }
  }
  .product-header2_image-small {
    width: 100%;
     height: 100%;
     aspect-ratio: 5/4;
     object-fit: cover
  }
  .container-large {
    width: 100%;
     max-width: 80rem;
     margin-right: auto;
     margin-left: auto;
     padding-top: 7rem;
     padding-bottom: 7rem
  }
  .product-header2_reviews-wrapper {
    display: flex;
     align-items: center;
     grid-column-gap: 0.5rem;
     grid-row-gap: 0.5rem
  }
  .product-header4_rating-wrapper {
    display: flex;
     margin-right: 0.5rem
  }
  .divider-vertical {
    width: ;
     align-self: stretch;
     background-color: 
  }
  @media screen and (max-width: 767px) {
    .divider-vertical {
      display: none
    }
  }
  .hide {
    display: none;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 0%}
  .product-header2_modal-main-image-wrapper {
    position: relative;
     width: 100%;
     height: 100%;
     padding-top: 80%}
  .product-header4_reviews-wrapper {
    display: flex;
     align-items: center
  }
  .product-header2_modal-image-small {
    position: absolute;
     left: 0%;
     top: 0%;
     right: 0%;
     bottom: 0%;
     width: 100%;
     height: 100%;
     object-fit: cover
  }
  .error-state {
    margin-top: 1.5rem;
     padding-top: 0.875rem;
     padding-right: 1rem;
     padding-bottom: 0.875rem;
     padding-left: 1rem
  }
  .Flavor-container-loop-card {
    width: 100%;
     flex-grow: 0;
     flex-shrink: 1;
     flex-basis: auto
  }
  .product-header2_rating-icon {
    display: flex;
     margin-right: 0.25rem;
     justify-content: center;
     align-items: center;
     color: 
  }
  .product-header2_content-bottom {
    display: grid;
     flex-direction: column;
     grid-auto-columns: 1fr;
     grid-column-gap: 5rem;
     grid-row-gap: 2rem;
     grid-template-columns: 1fr 0.5fr;
     grid-template-rows: auto 1fr
  }
  .product-header2_content-bottom.medium {
    max-width: 100%;
     grid-column-gap: 3rem;
     grid-row-gap: 2rem;
     grid-template-columns: 1fr minmax(16rem, 0.5fr)
  }
  @media screen and (max-width: 767px) {
    .product-header2_content-bottom {
      grid-column-gap: 5rem;
       grid-row-gap: 1rem;
       grid-template-columns: 1fr
    }
  }
  .product-header2_modal-list {
    display: grid;
     width: 100%;
     grid-auto-columns: 1fr;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto
  }
  @media screen and (max-width: 479px) {
    .product-header2_modal-list {
      grid-template-columns: 1fr
    }
  }
  .product-header2_modal-image-wrapper-small {
    position: relative;
     width: 100%;
     height: 100%;
     padding-top: 80%}
  .product-header2_modal-main-image {
    position: absolute;
     left: 0%;
     top: 0%;
     right: 0%;
     bottom: 0%;
     width: 100%;
     height: 100%;
     object-fit: cover
  }
  .is-small {
    padding-top: 0.5rem;
     padding-right: 1.25rem;
     padding-bottom: 0.5rem;
     padding-left: 1.25rem
  }
  .padding-global {
    padding-right: 2.5rem;
     padding-left: 2.5rem
  }
  @media screen and (max-width: 767px) {
    .padding-global {
      padding-right: 1.25rem;
       padding-left: 1.25rem
    }
  }
  .product-header2_modal-background-overlay {
    position: absolute;
     left: 0%;
     top: 0%;
     right: 0%;
     bottom: 0%;
     z-index: -1;
     background-color: hsla(0, 0.00%, 0.00%, 0.25)
  }
  .text-size-small 4 {
    font-size: 0.875rem
  }
  .is-secondary {
    background-color: ;
     color: 
  }
  .product-header2_rating-wrapper {
    display: flex
  }
  .product-header2_option {
    margin-bottom: 1.5rem
  }
  .button 6 {
    padding-top: 0.75rem;
     padding-right: 1.5rem;
     padding-bottom: 0.75rem;
     padding-left: 1.5rem;
     border-top-style: solid;
     border-top-width: 1px;
     border-top-color: ;
     border-right-style: solid;
     border-right-width: 1px;
     border-right-color: ;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color: ;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: ;
     background-color: ;
     color: ;
     text-align: center;
     text-decoration: none
  }
  .product-flavor-card-container {
    flex-direction: row;
     flex-wrap: wrap
  }
  .breadcrumb-link {
    text-decoration: none
  }
  .breadcrumb-link.main_current {
    font-weight: 600
  }
  .product-header2_tabs-menu {
    display: flex;
     align-items: center
  }
  @media screen and (max-width: 479px) {
    .product-header2_tabs-menu {
      align-items: flex-start
    }
  }
  .padding-section-medium 2 {
    padding-top: 5rem;
     padding-bottom: 5rem
  }
  .padding-section-medium 2.medium {
    padding-top: 4rem;
     padding-bottom: 4rem
  }
  @media screen and (max-width: 767px) {
    .padding-section-medium 2 {
      padding-top: 3rem;
       padding-bottom: 3rem
    }
  }
  .product-header2_modal-lightbox-link {
    position: relative;
     display: block;
     width: 100%;
     height: 100%;
     margin-bottom: 1rem
  }
  .text-size-tiny {
    font-size: 0.75rem
  }
</style><div class="padding-global padding-section-small" li-render="custom-wrapper"><div class="container-large product-hero-container"><div class="padding-section-medium 2 product-section-padding"><div class="product-header2_component"><div class="product-header2_content-top"><div class="margin-bottom margin-small"><div class="breadcrumb_component"><a class="breadcrumb-link"><div>Shop All
                  </div></a><div class="breadcrumb-divider"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path></svg></div><a class="breadcrumb-link"><div>Beverages
                  </div></a><div class="breadcrumb-divider"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path></svg></div><a class="breadcrumb-link" href="#"><div>Refreshing Sparkler
                  </div></a></div></div><div class="product-header2_gallery"><div class="product-header2_lightbox-link-wrapper"><a class="product-header2_lightbox-link" href="#"><div class="product-header2_image-wrapper"><img class="product-header2_main-image" width="auto" height="auto" alt="{{ product.media[0].alt }}" src="{{ product.media[0].preview_image | image_url }}" loading="lazy" li-object:src="product.media[0].preview_image | image_url" li-object:alt="product.media[0].alt">
</div></a></div><div class="product-header2_list-wrapper hide-mobile-portrait" li-for:inside="media in product.media">
        {% for media in product.media %}                            
                            {% if media.media_type == 'image' and loop.index > 0 and loop.index < 5 %}    <div class="product-header2_list" li-if="media.media_type == 'image' and loop.index > 0 and loop.index < 5">
    <div class="product-header2_item"><a class="product-header2_lightbox-link" href="#"><div class="product-header2_image-wrapper"><img class="product-header2_image-small" width="auto" height="auto" alt="inherit" src="{{ media | image_url: width }}" loading="lazy" li-object:src="media | image_url: width">
</div></a></div><div class="product-header2_item"><a class="product-header2_lightbox-link" href="#"><div class="product-header2_image-wrapper"><img class="product-header2_image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_item"><a class="product-header2_lightbox-link" href="#"><div class="product-header2_image-wrapper"><img class="product-header2_image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_item"><a class="product-header2_lightbox-link" href="#"><div class="product-header2_image-wrapper"><img class="product-header2_image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div>    </div>
{% endif %}
                            
                    {% endfor %}    </div>
<div class="product-header2_gallery-button-wrapper"><a class="button 6 is-small is-alternate"><div>Show All Photos
                  </div></a></div></div></div><div class="product-header2_content-bottom"><div class="product-header2_product-title-wrapper"><h1 class="heading-style-h3 6" li-object:text="product.title">
{{ product.title }}
</h1><div class="product-header4_price-wrapper"><div class="heading-style-h5 2" li-object:text="product.price | money">
{{ product.price | money }}
</div><div class="divider-vertical"></div><div class="product-header4_reviews-wrapper"><div class="product-header4_rating-wrapper"><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999ZM14.1087 16.56L12.9918 11.88L16.6517 8.74999L11.8549 8.36999L9.99999 3.90999V14.05L14.1087 16.56Z" fill="CurrentColor"></path></svg></div></div><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989ZM16.6517 8.74999L11.8549 8.36999L9.99999 3.90999L8.14509 8.36999L3.3483 8.74999L7.00822 11.88L5.88132 16.56L9.99999 14.05L14.1087 16.56L12.9918 11.88L16.6517 8.74999Z" fill="CurrentColor"></path></svg></div></div></div><div class="text-size-small 3">(4.0 stars) • 15 reviews
                  </div></div></div></div><div class="product-header2_product-description"><div class="margin-bottom margin-medium"><div class="product-header2_product-info"><p li-object:html="product.description" html="{{ product.description }}">The Refreshing Sparkler is your go-to beverage for a delightful taste experience. Crafted with quality ingredients, it’s a healthier choice for social gatherings.
                  </p></div></div><div class="product-header2_tabs"><div class="product-header2_tabs-menu"><a class="product-header2_tab-link" data-w-tab="Tab 1"><div>Details
                    </div></a><a class="product-header2_tab-link" data-w-tab="Tab 2"><div>Shipping
                    </div></a><a class="product-header2_tab-link" data-w-tab="Tab 3"><div>Returns
                    </div></a></div><div class="product-header2_tabs-content"><div class="product-header2_tab-details" data-w-tab="Tab 1"><div class="margin-top 2 margin-small"><p>Our Refreshing Sparkler is made with all-natural ingredients, ensuring a guilt-free indulgence. Enjoy it chilled for the best experience. Perfect for any occasion, it’s a great way to celebrate without the alcohol.
                      </p></div></div><div class="product-header2_tab-details" data-w-tab="Tab 2"><div class="margin-top 2 margin-small"><p>We offer fast and reliable shipping options to ensure your beverages arrive fresh. Orders over $50 qualify for free shipping. Expect delivery within 3-5 business days.
                      </p></div></div><div class="product-header2_tab-details" data-w-tab="Tab 3"><div class="margin-top 2 margin-small"><p>If you are not completely satisfied with your purchase, we accept returns within 30 days. Please ensure the product is unopened and in its original packaging. Reach out to our customer service for assistance.
                      </p></div></div></div></div></div><div class="product-header2_product-details"><div class="margin-bottom margin-small"><div class="heading-style-h4 9">$55
                </div></div><div class="margin-bottom margin-small"><div class="product-header2_reviews-wrapper"><div class="product-header2_rating-wrapper"><div class="product-header2_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header2_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header2_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header2_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999ZM14.1087 16.56L12.9918 11.88L16.6517 8.74999L11.8549 8.36999L9.99999 3.90999V14.05L14.1087 16.56Z" fill="CurrentColor"></path></svg></div></div><div class="product-header2_rating-icon"><div class="icon-embed-xxsmall"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989ZM16.6517 8.74999L11.8549 8.36999L9.99999 3.90999L8.14509 8.36999L3.3483 8.74999L7.00822 11.88L5.88132 16.56L9.99999 14.05L14.1087 16.56L12.9918 11.88L16.6517 8.74999Z" fill="CurrentColor"></path></svg></div></div></div><div class="text-size-small 4">(4.0 stars) • 15 reviews
                  </div></div></div><div class="product-header2_add-to-cart"><form class="product-header2_default-state" id="email-form" name="email-form" data-name="Email Form" method="get"><div class="product-header4_option"><div class="Div Block 1141"><div class="form_field-label 2">Flavor:
                      </div><div class="active-flavor" li-object:text="product.title">
{{ product.title }}
</div></div><div class="variant-button-row product-flavor-card-container"><div class="Flavor_Container is_active"><img class="Image 44" width="auto" height="auto" alt="{{ product.media[0].alt }}" src="{{ product.media[0].preview_image | image_url }}" loading="lazy" li-object:src="product.media[0].preview_image | image_url" li-object:alt="product.media[0].alt">
</div>{% for product in section.settings.collection_flavorcollection.products limit: section.settings.collection_flavorcollection_limit %}
<div class="Flavor-select-loop-container">
    
    <div class="Flavor_Container Flavor-container-loop-card"><a li-object:href="product.url" href="{{ product.url }}"><img class="Image 44" width="auto" height="auto" alt="inherit" src="{{ product.media[0].preview_image | image_url }}" loading="lazy" li-object:src="product.media[0].preview_image | image_url">
</a></div>
    
</div>
{% endfor %}
</div></div><div class="product-header2_option"><div class="form_field-label 3">Quantity
                    </div><input class="form_input 4 is-quantity-input" id="Quantity-5" name="Quantity-5" maxlength="256" data-name="Quantity 5" placeholder="1" type="number">
</div><a class="button 6 is-add-to-cart-button is-alternate">Add to Cart
                  </a><a class="button 6 is-secondary is-buy-now-button">Buy Now
                  </a><div class="text-align-center"><div class="text-size-tiny">Free shipping on orders $50+
                    </div></div></form><div class="out-of-stock-state"><div>Thank you! Your order has been placed successfully!
                  </div></div><div class="error-state"><div>Oops! There was an error processing your request.
                  </div></div></div></div></div><div class="product-header2_modal"><div class="product-header2_modal-content-wrapper"><div class="container-small"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-main-image-wrapper"><img class="product-header2_modal-main-image" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a><div class="product-header2_modal-list-wrapper"><div class="product-header2_modal-list"><div class="product-header2_modal-item"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-image-wrapper-small"><img class="product-header2_modal-image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_modal-item"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-image-wrapper-small"><img class="product-header2_modal-image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_modal-item"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-image-wrapper-small"><img class="product-header2_modal-image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_modal-item"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-image-wrapper-small"><img class="product-header2_modal-image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_modal-item"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-image-wrapper-small"><img class="product-header2_modal-image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_modal-item"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-image-wrapper-small"><img class="product-header2_modal-image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_modal-item"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-image-wrapper-small"><img class="product-header2_modal-image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div><div class="product-header2_modal-item"><a class="product-header2_modal-lightbox-link" href="#"><div class="product-header2_modal-image-wrapper-small"><img class="product-header2_modal-image-small" width="auto" height="auto" alt="inherit" src="https://cdn.prod.website-files.com/68726256d09e315dde99e82a/6876c374dccb4d0b21374c80_6191a88a1c0e39463c2bf022_placeholder-image.svg" loading="lazy">
</div></a></div></div></div></div><a class="product-header2_modal_close-button"><img width="auto" height="auto" alt="inherit" src="https://uploads-ssl.webflow.com/611612d8f3fe0984cee8d325/6219658da2c038784aa245de_icon_close-modal.svg" loading="lazy">
</a></div><div class="product-header2_modal-background-overlay"></div></div></div></div></div></div><div class="hide"><script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script><script>$(".swiper-container").each(function (index) {

    const thumbsSwiper = new Swiper($(this).find(".swiper.is-product-thumbnail")[0], {
      slidesPerView: "auto",
      rewind: false,
      loopedSlides: 8,
      slideToClickedSlide: true,
      spaceBetween: "4%",
    });

    const swiper = new Swiper($(this).find(".swiper.is-product-gallery")[0], {
      mousewheel: {
        forceToAxis: true
      },
      thumbs: {
        swiper: thumbsSwiper,
        slideThumbActiveClass: "is-active",
      },
      keyboard: {
        enabled: true,
        onlyInViewport: true
      },
      navigation: {
        nextEl: $(this).find(".swiper-next")[0],
        prevEl: $(this).find(".swiper-prev")[0],
      }
    });
  }); 

</script></div> {% schema %} {"tag":"section","name":"Product Hero","class":"section_product-header","settings":[{"id":"collection_flavorcollection","type":"collection","label":"FlavorCollection"},{"type":"range","id":"collection_flavorcollection_limit","min":1,"max":99,"step":1,"label":"Limit: FlavorCollection","default":6}],"presets":[{"name":"Product Hero","category":"Liquify","blocks":[]}],"enabled_on":{"templates":["product"]}} {% endschema %}