<div li-render="custom-wrapper" class="padding-global padding-section-small"><div class="container-large product-hero-container"><div class="padding-section-medium-2 product-section-padding"><div class="product-header2_component"><div class="product-header2_content-top"><div class="margin-bottom margin-small"><div class="breadcrumb_component"><a href="#" class="breadcrumb-link w-inline-block"><div>Shop All</div></a><div class="breadcrumb-divider w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path></svg></div><a href="#" class="breadcrumb-link w-inline-block"><div>Beverages</div></a><div class="breadcrumb-divider w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path></svg></div><a href="#" class="breadcrumb-link w-inline-block"><div>Refreshing Sparkler</div></a></div></div><div class="product-header2_gallery"><div class="product-header2_lightbox-link-wrapper"><a href="#" class="product-header2_lightbox-link w-inline-block w-lightbox"><div class="product-header2_image-wrapper"><img li-object:src="product.media[0].preview_image | image_url" li-object:alt="product.media[0].alt" alt="{{ product.media[0].alt }}" src="{{ product.media[0].preview_image | image_url }}" loading="lazy" class="product-header2_main-image">
</div><script type="application/json" class="w-json">{
  "items": [],
  "group": ""
}</script></a></div><div class="product-header2_gallery-button-wrapper"><a data-w-id="8452d4fa-d91a-467e-ea05-6b0126434665" href="#" class="button-6 is-small is-alternate w-inline-block"><div>Show All Photos</div></a></div></div></div><div class="product-header2_content-bottom"><div id="w-node-_8452d4fa-d91a-467e-ea05-6b0126434669-5313685d" class="product-header2_product-title-wrapper"><h1 li-object:text="product.title" class="heading-style-h3-6">
{{ product.title }}
</h1><div class="product-header4_price-wrapper"><div li-object:text="product.price | money" class="heading-style-h5-2">
{{ product.price | money }}
</div><div class="divider-vertical"></div><div class="product-header4_reviews-wrapper"><div class="product-header4_rating-wrapper"><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z" fill="CurrentColor"></path></svg></div></div><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999ZM14.1087 16.56L12.9918 11.88L16.6517 8.74999L11.8549 8.36999L9.99999 3.90999V14.05L14.1087 16.56Z" fill="CurrentColor"></path></svg></div></div><div class="product-header4_rating-icon"><div class="icon-embed-xxsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989ZM16.6517 8.74999L11.8549 8.36999L9.99999 3.90999L8.14509 8.36999L3.3483 8.74999L7.00822 11.88L5.88132 16.56L9.99999 14.05L14.1087 16.56L12.9918 11.88L16.6517 8.74999Z" fill="CurrentColor"></path></svg></div></div></div><div class="text-size-small-3">(4.0 stars) • 15 reviews</div></div></div></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b012643466c-5313685d" class="product-header2_product-description"><div class="margin-bottom margin-medium"><div class="product-header2_product-info"><p li-object:html="product.description" html="{{ product.description }}">The Refreshing Sparkler is your go-to beverage for a delightful taste experience. Crafted with quality ingredients, it’s a healthier choice for social gatherings.</p></div></div><div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="product-header2_tabs w-tabs"><div class="product-header2_tabs-menu w-tab-menu"><a data-w-tab="Tab 1" class="product-header2_tab-link w-inline-block w-tab-link w--current"><div>Details</div></a><a data-w-tab="Tab 2" class="product-header2_tab-link w-inline-block w-tab-link"><div>Shipping</div></a><a data-w-tab="Tab 3" class="product-header2_tab-link w-inline-block w-tab-link"><div>Returns</div></a></div><div class="product-header2_tabs-content w-tab-content"><div data-w-tab="Tab 1" class="product-header2_tab-details w-tab-pane w--tab-active"><div class="margin-top-2 margin-small"><p>Our Refreshing Sparkler is made with all-natural ingredients, ensuring a guilt-free indulgence. Enjoy it chilled for the best experience. Perfect for any occasion, it’s a great way to celebrate without the alcohol.</p></div></div><div data-w-tab="Tab 2" class="product-header2_tab-details w-tab-pane"><div class="margin-top-2 margin-small"><p>We offer fast and reliable shipping options to ensure your beverages arrive fresh. Orders over $50 qualify for free shipping. Expect delivery within 3-5 business days.</p></div></div><div data-w-tab="Tab 3" class="product-header2_tab-details w-tab-pane"><div class="margin-top-2 margin-small"><p>If you are not completely satisfied with your purchase, we accept returns within 30 days. Please ensure the product is unopened and in its original packaging. Reach out to our customer service for assistance.</p></div></div></div></div></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b0126434690-5313685d" class="product-header2_product-details"><div class="product-header2_add-to-cart w-form"><form id="email-form" name="email-form" data-name="Email Form" method="get" class="product-header2_default-state" data-wf-page-id="68726256d09e315dde99e886" data-wf-element-id="8452d4fa-d91a-467e-ea05-6b01264346a4"><div class="product-header4_option"><div class="div-block-1141"><div class="form_field-label-2">Flavor:</div><div li-object:text="product.title" class="active-flavor">
{{ product.title }}
</div></div><div class="variant-button-row product-flavor-card-container"><div class="flavor_container is_active"><img src="{{ product.media[0].preview_image | image_url }}" loading="lazy" li-object:src="product.media[0].preview_image | image_url" li-object:alt="product.media[0].alt" alt="{{ product.media[0].alt }}" class="image-44">
</div>{% for product in section.settings.collection_flavorcollection.products limit: section.settings.collection_flavorcollection_limit %}
<div class="flavor-select-loop-container">
    
     <div li-if="flavor_product.handle != object.product.handle"> <a li-object:href="flavor_product.url" href="#" class="w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" li-object:src="product.media[0].preview_image | image_url" alt="" class="image-44"></a> </div> 
    
</div>
{% endfor %}
</div></div><div class="product-header2_option"><div class="form_field-label-3">Quantity</div><input class="form_input-4 is-quantity-input w-input" maxlength="256" name="Quantity-5" data-name="Quantity 5" placeholder="1" type="number" id="Quantity-5">
</div><a href="#" class="button-6 is-add-to-cart-button is-alternate w-button">Add to Cart</a><a href="#" class="button-6 is-secondary is-buy-now-button w-button">Buy Now</a><div class="text-align-center"><div class="text-size-tiny">Free shipping on orders $50+</div></div></form><div class="out-of-stock-state w-form-done"><div>Thank you! Your order has been placed successfully!</div></div><div class="error-state w-form-fail"><div>Oops! There was an error processing your request.</div></div></div></div></div><div class="product-header2_modal"><div class="product-header2_modal-content-wrapper"><div class="container-small"><a href="#" id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346c4-5313685d" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-main-image-wrapper"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-main-image">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a><div class="product-header2_modal-list-wrapper"><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346c8-5313685d" class="product-header2_modal-list"><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346c9-5313685d" class="product-header2_modal-item"><a href="#" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-image-wrapper-small"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-image-small">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346cd-5313685d" class="product-header2_modal-item"><a href="#" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-image-wrapper-small"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-image-small">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346d1-5313685d" class="product-header2_modal-item"><a href="#" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-image-wrapper-small"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-image-small">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346d5-5313685d" class="product-header2_modal-item"><a href="#" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-image-wrapper-small"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-image-small">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346d9-5313685d" class="product-header2_modal-item"><a href="#" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-image-wrapper-small"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-image-small">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346dd-5313685d" class="product-header2_modal-item"><a href="#" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-image-wrapper-small"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-image-small">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346e1-5313685d" class="product-header2_modal-item"><a href="#" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-image-wrapper-small"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-image-small">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a></div><div id="w-node-_8452d4fa-d91a-467e-ea05-6b01264346e5-5313685d" class="product-header2_modal-item"><a href="#" class="product-header2_modal-lightbox-link w-inline-block w-lightbox"><div class="product-header2_modal-image-wrapper-small"><img loading="lazy" src="{{ '6191a88a1c0e39463c2bf022_placeholder-image.svg' | asset_url }}" alt="" class="product-header2_modal-image-small">
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "placeholder-image.svg",
      "fileName": "placeholder-image.svg",
      "fileSize": 1017,
      "height": 1000,
      "url": "https://uploads-ssl.webflow.com/6226d764b863751de8f6e643/6226d764b863757484f6e667_placeholder-image.svg",
      "width": 1000,
      "type": "image"
    }
  ],
  "group": "Product Overview Modal 1"
}</script></a></div></div></div></div><a data-w-id="8452d4fa-d91a-467e-ea05-6b01264346e9" href="#" class="product-header2_modal_close-button w-inline-block"><img loading="lazy" src="https://uploads-ssl.webflow.com/611612d8f3fe0984cee8d325/6219658da2c038784aa245de_icon_close-modal.svg" alt="">
</a></div><div class="product-header2_modal-background-overlay"></div></div></div></div></div></div><div class="hide w-embed w-script"><script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script><script>$(".swiper-container").each(function (index) {
    const thumbsSwiper = new Swiper($(this).find(".swiper.is-product-thumbnail")[0], {
      slidesPerView: "auto",
      rewind: false,
      loopedSlides: 8,
      slideToClickedSlide: true,
      spaceBetween: "4%",
    });
    const swiper = new Swiper($(this).find(".swiper.is-product-gallery")[0], {
      mousewheel: {
        forceToAxis: true
      },
      thumbs: {
        swiper: thumbsSwiper,
        slideThumbActiveClass: "is-active",
      },
      keyboard: {
        enabled: true,
        onlyInViewport: true
      },
      navigation: {
        nextEl: $(this).find(".swiper-next")[0],
        prevEl: $(this).find(".swiper-prev")[0],
      }
    });
  }); 
</script></div> {% schema %} {"tag":"section","name":"Product Hero","class":"section_product-header","settings":[{"id":"collection_flavorcollection","type":"collection","label":"FlavorCollection"},{"type":"range","id":"collection_flavorcollection_limit","min":1,"max":99,"step":1,"label":"Limit: FlavorCollection","default":6}],"presets":[{"name":"Product Hero","category":"Liquify","blocks":[]}],"enabled_on":{"templates":["product"]}} {% endschema %}